
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #E3E3E8;
}

.success-notification, .error-notification{
  .mdc-snackbar__label, .mdc-button__label{
    color: white;
  }

  .mat-mdc-snack-bar-action{
    transition: all .2s ease-in-out;

    &:hover{
      transition: all .2s ease-in-out;

      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.success-notification {
  --mdc-snackbar-container-color: #024474 ;
}

.error-notification{
  --mdc-snackbar-container-color: #a94440 ;
}

.l-body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.contain {
  margin: 200px;
  position: absolute;
  z-index: 2;
  min-width: 700px;
  height: 90%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px);
}

.submit {
  margin: 0 0 20px 0;
}

button {
  color: #024474 !important;
  //background-color: ;
}

.container {
  display: grid;
  place-items: center; /* Centre les éléments horizontalement et verticalement */
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

mat-spinner {
  margin: 0;
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #024474 !important;
}

a {
  text-decoration: none;
  color: #024474;
}

.image-back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(5px) brightness(0.5);
}

mat-hint {
  color: white
}


@media (max-width: 720px) {
  .img {
    display: none;
  }
  .contain {
    min-width: 350px;
    height: fit-content;
  }

  .form{
    padding: 40px 0px 20px 0;
  }
}

@media (max-width: 950px) {
  .max-with-950px{
    display: none !important;
  }
}

@media (max-width: 700px) {
  .max-with-700px {
    display: none !important;
  }

  th {
    font-size: 12px !important;
  }

  td, button, input, mat-option, mat-label {
    font-size: 10px !important;
  }
}
